@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Tomorrow's Imaging</h1>
        <p class="lead">Tomorrow's Imaging - A Multifunctional CT Test Booking Platform.</p>
    </section>

    <div @*class="row"*@>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">For US</h2>

            @*<p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </section>
        @*<section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>*@
    </div>
                <p>
                "Imaging Tomorrow" is a multifunctional CT test booking and evaluation online application designed specifically for patients and healthcare professionals. The application allows users to book CT test appointments in seconds through a simple, easy-to-use interface and ensures that there are no conflicts with other appointments. In addition to this, 
                the system also provides appropriate permissions for users with different roles to add, delete, check and modify booking. To ensure the accuracy and integrity of the data, we have also integrated various verification mechanisms within the system. 
                In addition, we understand the importance of information security, so we have added multiple security protections within the system to effectively prevent online attacks such as XSS. 
                In addition, users can rate the service and view other users' ratings within the platform, thus providing a reference for future appointments. 
                Doctor and patients will receive emails with attachments to allow them to view their Booking results or rating at any time.
            </p>
</main>